.nv-layout-formater {
    display: flex;
    justify-content: space-between;
    .nv-layout-form {
        position: relative;
        &_wrapper {
            display: flex;
            position: relative;
            //width: 476px;
        }
        ;
        &_holder {
            position: absolute;
            right: 0;
            cursor: pointer;
            border: 1px solid #409EFF;
            color: #409EFF;
            font-size: 14px;
            border-radius: 4px;
            margin-top: 2px;
            padding: 8px 6px;
        }
        ;
        .nv-layout-form_main {
            display: flex;
            margin: 0 84px 0 12px;
            min-width: 398px;
            &.without-collapse {
                margin-right: 0;
            }
            >* {
                display: inline-block;
                //max-width: 320px;
            }
            .search {
                &-main {
                    >* {
                        margin: 0;
                    }
                }
                &-btn {
                    width: 90px;
                    text-align: center;
                    margin: 2px 14px;
                }
            }
        }
        &_popover {
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 0 4px 0 #9ea8af;
            padding: 8px 12px;
            position: absolute;
            top: 100%;
            margin-top: 20px;
            z-index: 100;
            right: 0;
            &.double {
                min-width: 460px;
            }
            &.single {
                max-width: 260px;
            }
        }
        &_line {
            display: flex;
            >* {
                margin-bottom: 0;
            }
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            &.full {
                >* {
                    display: inline-block;
                    max-width: 47%;
                    margin-left: 6%;
                }
                &.only-one {
                    >* {
                        max-width: unset;
                    }
                }
            }
            >* {
                &:first-child {
                    margin-left: 0 !important;
                }
            }
        }
    }
}